Are example points correct?

I'm having trouble replicating the JWK in the appendix. For example, regenerating the public key from the `d` scalar seems to give me a different value:

```json
{
    "crv":"BLS48581G2",
    "kty":"EC",
    "x":"GDk7lhGRbq-yv_0FxCdvDDAoR6r4bqoGgPkN28ncRFwyosIEuVqS-aHo8KIYBLd_GciDQ42OtZBN2heo_HN8bxhkqWiroq7P_hOPmfG7tzvSSbtVIa8jUD0R3zKtDNBj",
    "y":"C5IuPrGU0nlB66ld98IpfF92QPSHuPSTD08fDQgRF4ZG2EJbAfdidjaAfbIKFrBMBN5urixJM4c9VZE-09sDYFtKnYBXkO1lnIdCSKm0vYv33767j_hgZNkofpysmJYc"
}
```

I haven't checked the BLS48581G2 values, but the [BLS12381 examples](https://www.ietf.org/archive/id/draft-ietf-cose-bls-key-representations-07.html#name-bls12381-key-pairs) are correct as specified... but arguably the _specification_ is incorrect, because `"d"` is specified as little-endian.

Sections [2.2.1. JSON Web Key Representation](https://www.ietf.org/archive/id/draft-ietf-cose-bls-key-representations-07.html#name-json-web-key-representation) and [2.2.2. COSE_Key Representation](https://www.ietf.org/archive/id/draft-ietf-cose-bls-key-representations-07.html#name-cose_key-representation) both state (emphasis added):

>The parameter "d" [...] MUST contain the **little-endian** representation of the private key [...]

and indeed, the BLS12381 examples generate a different key if `"d"` is taken in big-endian form, but reproduce the example point if taken in little-endian form.

This specification contradicts the definition of the `"EC"` key type, though: the key type is defined in [Section 6.2 of RFC 7518](https://www.rfc-editor.org/rfc/rfc7518.html#section-6.2), and the [definition of the `"d"` parameter](https://www.rfc-editor.org/rfc/rfc7518.html#section-6.2.2.1) states:

>The "d" (ECC private key) parameter contains the Elliptic Curve private key value.  It is represented as the base64url encoding of the octet string representation of the private key value, as defined in [Section 2.3.7](https://www.rfc-editor.org/rfc/rfc7518.html#section-2.3.7) of SEC1 [[SEC1](https://www.rfc-editor.org/rfc/rfc7518.html#ref-SEC1)]. [...]

and Section 2.3.7 of SEC1 describes a big-endian encoding. [Ilari Liusvaara agreed on the COSE mail list](https://mailarchive.ietf.org/arch/msg/cose/rsBSNzByMETpvVxiXUWpGBtuce4/) that little-endian `"d"` is wrong. (I notice now that COSE [RFC 9053](https://www.rfc-editor.org/rfc/rfc9053.html#name-elliptic-curve-keys) doesn't specify the endianness of `d`, though...?)

Little endian should be fine once #31 is merged.